/vendor/
wp-config.php
uploads/
debug.log
.idea
.DS_Store
wp-config-sample.php
wp-content/ailwm-backups/
wp-content/plugins/optinmonster/
wp-content/plugins/advanced-custom-fields/
wp-content/plugins/akismet/
wp-content/plugins/all-in-one-wp-migration/
wp-content/plugins/disable-xml-rpc/
wp-content/plugins/ml-slider/
wp-content/plugins/the-events-calendar/
wp-content/plugins/wordpress-seo/
wp-content/cache/
wp-content/wp-cloudflare-super-page-cache/
.sass-cache/
